.card-text p {
  font-size: 1.1rem !important;
}

.card-text li {
  font-size: 1.1rem !important;
}

.experience-title {
  font-size: 1.4rem !important;
  font-weight: 600;
}

.experience-company {
  font-size: 1.2rem !important;
}

.experience-meta {
  font-size: 1.0rem !important;
}
